name: PR
on:
  pull_request:
    paths-ignore:
      - '.github/workflows/**'
jobs:
  pr:
    name: pr
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Node.js environment
      uses: actions/setup-node@v2
      with:
        node-version: 18
    - run: yarn
    - name: codegen
      run: yarn codegen
    #  Need to update tsconfig inputs paths for this to work
    # - name: build
    #   run: yarn build

